.theme-menu__button:hover::after,
.theme-menu__button:focus-visible::after {
  animation: make-border-menu-button 0.3s ease forwards;
}

.theme-menu__button:disabled:hover::after {
  animation: none;
}

.logo-icon:hover,
.logo-icon:focus-visible {
  animation: make-logo-bigger 0.3s ease forwards;
}

.header__box__button:hover {
  box-shadow: 3px 3px var(--button-shadow-color);
  animation: make-logo-button-bigger 0.5s ease infinite alternate;
}

.dialog__cross:hover {
  animation: cross-button-moves 0.5s linear 1 alternate;
}

.header__box__image::before {
  animation: show-me-square 3s ease 1 forwards;
}

.header__box__image::after {
  animation: show-me-second-square 3s ease 1 forwards;
}

.header__box__container {
  animation: show-me-my-name 3s ease 1 forwards;
}

.contact__list__item:hover::after {
  opacity: 1;
  background-color: var(--button-color);
  transition: opacity .5s linear;
  animation: anim-border 5s linear infinite;
}

.link__contact:focus-visible {
  border-radius: 50%;
  outline: 2px solid var(--focus-visible-color);
  outline-offset: -35px;
  animation: make-contact-bigger 0.2s linear 1 forwards;
}

/* keyframes  */
@keyframes make-border-menu-button {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes make-logo-bigger {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes make-logo-button-bigger {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes show-me-square {
  from {
    left: 500px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes show-me-second-square {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 50%;
    opacity: 1;
  }
}

@keyframes show-me-my-name {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cross-button-moves {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(360deg);
  }
}

@keyframes anim-border {
  from {
    top: 25px;
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    top: 0px;
    bottom: 20px;
  }
  to {
    top: 25px;
    bottom: 0;
    transform: rotate(360deg);
  }
}

@keyframes make-contact-bigger {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@media (prefers-reduced-motion: reduce) {
  .header__box__button:hover,
  .header__box__button:focus-visible,
  .header__box__image::before,
  .header__box__image::after,
  .header__box__container,
  .contact__list__item:hover {
    animation: none;
  }
}