/* TO DO  */
/* добавить интерактивности кнопке обо мне */
.page {
  max-width: 1440px;
  background-color: var(--background-color);
  font-family: var(--text-font), "Courier New", monospace;
  font-size: 14px;
  font-weight: 200;
  color: var(--font-color);
  padding: 20px;
}

.header {
  margin: 0 auto;
  display: flex;
  gap: clamp(1.25rem, -0.5106rem + 7.5117vw, 6.25rem);
  flex-direction: column;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.nav__item-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-inline-start: 0px;
}

.logo-icon {
  width: 30px;
  transform: scale(1);
  border: 1px solid transparent;
}

.link__logo:focus,
.link__logo:focus-visible,
.button:focus-visible,
.button:focus,
.link:focus,
.link:focus-visible {
  outline: none;
}

.link__logo:focus-visible .logo-icon,
.cross-button:focus-visible  {
  border: 1px solid var(--focus-visible-color);
  transition: border 0.3s ease;
}

.nav__item {
  list-style-type: none;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  font-family: inherit;
  border: none;
  font-size: 20px;
  color: var(--font-color);
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:after {
  content: "";
  position: absolute;
  width: 90%;
  color: var(--focus-visible-color);
  bottom: 0;
  left: 4px;
  border-bottom: 1px solid currentColor;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.theme-menu__button:focus-visible {
  color: var(--focus-visible-color);
  transform-origin: 0 0;
  transition: color 0.3s ease;
}

.header__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: clamp(1.25rem, -0.5106rem + 7.5117vw, 6.25rem);
}

.header__box__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container__welcome {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.container__description {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-start: 15px;
}

.header__box__image {
  position: relative;
  width: clamp(15.625rem, -0.8803rem + 70.4225vw, 62.5rem);
}

.header__box__image::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 3px;
  width: 100%;
  background: var(--gradient-first-image);
  background-blend-mode: multiply, multiply;
  top: 0;
  left: 500px;
  opacity: 0;
}

.header__box__image::after {
  content: "";
  z-index: -2;
  position: absolute;
  top: 15%;
  right: 50%;
  width: 70%;
  height: 70%;
  background: var(--gradient-second-image);
  background-blend-mode: multiply, multiply;
}

.main-image {
  width: 100%;
  height: 100%;
}

.container__name {
  font-family: var(--main-title), "Courier New", monospace;
  font-size: clamp(3.125rem, 1.3193rem + 7.7042vw, 6.25rem);
  margin: 0;
}

.header__box__button {
  background-color: var(--button-color);
  border: 3px solid var(--button-color);
  color: var(--font-color-pointer);
  margin-block-start: 20px;
  padding: 2%;
  width: 15%;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__box__button:focus-visible {
  border: 3px solid var(--focus-visible-color);
  transition: border 0.3s ease;
}

/* dialog header  */
.header__dialog {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--dialog-bg);
  color: var(--dialog-font-color);
  width: clamp(15.625rem, 1.3204rem + 61.0329vw, 56.25rem);
  padding: 60px;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.dialog__about__arcticle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  margin-block-start: 20px;
}

.dialog__about__title {
  font-family: var(--main-title);
  font-size: clamp(1.25rem, 0.9199rem + 1.4085vw, 2.1875rem);
  align-self: center;
}

.dialog__about__subtitle {
  opacity: 0.3;
  font-size: 14px;
}

.dialog__about__paragraph {
  font-size: clamp(0.9375rem, 0.7835rem + 0.6573vw, 1.375rem);
  line-height: 1.3;
  letter-spacing: 3px;
}

.dialog__cross {
  width: 40px;
  height: 100%;
}

.cross-button {
  border: 1px solid transparent;
}

.accent-word {
  color: var(--accent-word-color);
  text-shadow: -1px 0 #d74040, 0 1px #d74040, 1px 0 #d74040, 0 -1px #d74040;
}

/* main  */
.main {
  margin-block-start: 40px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-block-start: 100px;
}

.section__title {
  font-family: var(--main-title);
  font-size: clamp(1.875rem, 1.2148rem + 2.8169vw, 3.75rem);
}

.tools__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "html . css"
    ". js .";
}

.tool__title {
  font-size: clamp(1.25rem, 0.8099rem + 1.8779vw, 2.5rem);
  text-align: center;
}

.tools__item {
  width: clamp(12.5rem, 9.1989rem + 14.0845vw, 21.875rem);
}

.tools-image {
  height: 100%;
  margin-block-start: 20px;
}

.tools__image-js {
  height: 90%;
}

.html__tool {
  grid-area: html;
}

.css__tool {
  grid-area: css;
}

.javascript__tool {
  grid-area: js;
}

.contact__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.contact__list__item {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--background-color);
}

.contact__list__item::before,
.contact__list__item::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  margin: -2%;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.contact__list__item::after {
  opacity: 0;
}

.item__title {
  position: absolute;
  font-size: 30px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link__contact {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
}

/* supports  */
@supports ((text-stroke: 1px #d74040) or (-webkit-text-stroke: 1px #d74040)) {
  .accent-word {
    -webkit-text-stroke: 1px #d74040;
    text-stroke: 1px #d74040;
    text-shadow: none;
  }
}

/* media  */
@media only screen and (width < 1024px) {
  .header__box__image {
    width: clamp(12.5rem, 7.083rem + 23.1125vw, 21.875rem);
  }

  .header__box {
    flex-direction: column;
    gap: 50px;
  }

  .header__box__image::after {
    right: 40%;
  }

  .tools__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact__list {
    flex-direction: row;
    gap: 28px;
  }
}

@media only screen and (width < 768px) {
  .header__box__image {
    width: clamp(12.5rem, 7.083rem + 23.1125vw, 21.875rem);
  }

  .header__box {
    flex-direction: column;
    gap: 50px;
  }

  .header__box__image::after {
    right: 40%;
  }

  .tools__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact__list {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}
