:root.theme-dark {
  /* --background-color: #4E5C5C; */
  --background-color: #293133;
  --font-color: #fff;
  --gradient-first-image: linear-gradient(to bottom, #fff 0%, #47413d 100%),
    radial-gradient(at top center, #fff 0%, #47413d 120%) #989898;
  --gradient-second-image: linear-gradient(140deg, #5d9c9c, #c3cfd8);
  --accent-color: #fff;
  --button-color: #9c745d;
  --font-color-pointer: #fff;
  --dialog-bg: #545138;
  --dialog-font-color: #fff;
  --accent-word-color: #BF6969;
  --accent-word-shadow: #802626;
}

:root.theme-light {
  --background-color: #fff;
  --font-color: #505050;
  --gradient-first-image: linear-gradient(to bottom, #D58787 0%, #802626 100%),
    radial-gradient(at top center, #D58787 0%, #802626 120%);
  --gradient-second-image: linear-gradient(140deg, #3D9957, #7ACC91);
  --accent-color: #505050;
  --button-color: #BF6969;
  --font-color-pointer: #fff;
  --dialog-bg: #545138;
  --dialog-font-color: #fff;
  --accent-word-color: #BF6969;
  --accent-word-shadow: #802626;
}

@media (prefers-color-scheme: light) {
:root {
  --background-color: #fff;
  --font-color: #505050;
  --gradient-first-image: linear-gradient(to bottom, #D58787 0%, #802626 100%),
    radial-gradient(at top center, #D58787 0%, #802626 120%);
  --gradient-second-image: linear-gradient(140deg, #3D9957, #7ACC91);
  --accent-color: #505050;
  --button-color: #BF6969;
  --font-color-pointer: #fff;
  --dialog-bg: #545138;
  --dialog-font-color: #fff;
  --accent-word-color: #BF6969;
  --accent-word-shadow: #802626;
}
}
